@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

:root{
    --font_noto_sans_kR : "Noto Sans KR", sans-serif;
    --font-color-black: rgb(21, 21, 21);
    --font-color-white: rgb(244, 244, 244);
    --font-color-gray: rgb(193, 193, 193);
    --font-color-sky: rgb(0, 214, 214);
}